<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>

<p th:text="${person.getName()} + ', ' + ${person.getBirthYear()}">Name and birth year</p>
<hr>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>