<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Title</title>
</head>
<body>

<p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getPublicationYear()}">book</p>

<div th:if="${owner}">
    <p th:text="'Книга сейчас у: ' + ${owner.getName()}"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>
<div th:unless="${owner}">
    <p>Эта книга свободна. Кому назначить её?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person_select">Выберете человека </label>
        <select id="person_select" th:object="${person}" th:field="*{id}">
            <option th:each="person_option : ${people}" th:value="${person_option.getId()}"
                    th:text="${person_option.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>

<hr>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>