<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>

<p th:text="${person.getName()} + ', ' + ${person.getBirthYear()}">Name and birth year</p>
<hr>
<p th:if="${#lists.isEmpty(books)}">Человек пока не взял ни одной книги</p>
<div th:unless="${#lists.isEmpty(books)}">
    <h3>Книги:</h3>
    <div th:each="book : ${books}">
        <p th:style="${book.isOverdue()}?'color:red':'color:black'"
           th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getPublicationYear()}">book</p>
    </div>
</div>
<hr>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>